BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
AlignConsecutiveMacros: Consecutive
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
